.trackedContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40rem;
    height: inherit;
}
@media screen and (max-width: 425px) {
    .trackedContainer {
      flex-direction: column;
      max-width: 100vw;
    }
}