.card {
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
    background-color: var(--Self);
    border-radius: 10px;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
}
.card img {
    position: absolute;
    right: 0;
}
.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6) {
    margin-bottom: 0;
}
.card:nth-child(3),
.card:last-child {
    margin-right: 0;
}
.card .txtBlock {
    position: absolute;
    bottom: 0;
    height: 9.73rem;
    width: 100%;
    background-color: var(--darkBlue);
    border-radius: 9px;
    cursor: pointer;
    transition: 0.5s;
}
.card .txtBlock:hover {
    opacity: 0.95;
}
.card .txtBlock .top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    text-transform: capitalize;
    font-weight: 700;
}
.card .txtBlock .top p.dots {
    font-size: 1.5rem;
    line-height: 12px;
    opacity: 0.75;
    transition: 0.5s;
    color: var(--desaturatedBlue);
}
.card .txtBlock .top p.dots:hover {
    color: #fff;
    opacity: 1;
}
.card .txtBlock .bottom {
    padding: 5px 20px;
}
.card .txtBlock .bottom h1 {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 15px 0 10px 0;
}
.card .txtBlock .bottom p {
    font-size: 0.85rem;
    letter-spacing: 1px;
    color: var(--desaturatedBlue);
}

/* ################################## */
/*           RESPONSIVENESS           */
/* ################################## */
@media screen and (max-width: 425px) {
    .card {
      /* flex-direction: column; */
      width: 90%;
      height: 10rem;
      margin-left: 5%;
    }
    .card:nth-child(4),
    .card:nth-child(5),
    .card:nth-child(6) {
        margin-bottom: 1.25rem;
    }
    .card .txtBlock{
        height: 7.9rem;
    }
    .card .txtBlock .top {
        padding-bottom: 5px;
    }
    .card .txtBlock .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
    }
    .card .txtBlock .top p.dots,
    .card .txtBlock .bottom p {
        opacity: 0.75;
    }
    .card .txtBlock .bottom p {
        font-size: 1rem;
        color: #fff;
        align-self: flex-end;
        margin-bottom: 5px;
    }
}